<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            align-items: center;
            text-align: center;
            margin: 20px;
        }
        h1, h2 {
            margin-bottom: 0; /* Remove default margin */
        }
    </style>
</head>
<body>
    <div>
        <h1>CSV Uploader</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv">
            <input type="submit" value="Predict">
        </form>
        
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        {% if result %}
            <h2>Input Data and Predictions:</h2>
            {{ result|safe }}
        {% endif %}
    </div>

    <div>
        <h2>Predict with Input Values</h2>
        <form action="/predict" method="post">
            <label for="speed">Speed (rpm):</label>
            <input type="text" name="speed" id="speed" required>
            <br>
            <label for="feed">Feed (rev/min):</label>
            <input type="text" name="feed" id="feed" required>
            <br>
            <label for="depth_of_cut">Depth of cut (mm):</label>
            <input type="text" name="depth_of_cut" id="depth_of_cut" required>
            <br>
            <input type="submit" value="Predict">
        </form>

        {% if predictions %}
            <h2>Predictions:</h2>
            {{ predictions|safe }}
        {% endif %}
    </div>
</body>
</html>
